best/best_DSSCVGG16_epoch_100.pt filter=lfs diff=lfs merge=lfs -text
best/best_SCVGG16_epoch_3.pt filter=lfs diff=lfs merge=lfs -text
best/best_VGG16_epoch_100.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_DSSCVGG16_num_epochs-100_epoch_100.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_DSSCVGG16_num_epochs-100_epoch_30.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_DSSCVGG16_num_epochs-100_epoch_70.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_DSSCVGG16_num_epochs-100_epoch_90.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_DSSCVGG16_num_epochs-100_epoch_10.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_DSSCVGG16_num_epochs-100_epoch_80.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_VGG16_num_epochs-100_epoch_40.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_VGG16_num_epochs-100_epoch_60.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_VGG16_num_epochs-100_epoch_10.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_VGG16_num_epochs-100_epoch_20.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_VGG16_num_epochs-100_epoch_30.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_DSSCVGG16_num_epochs-100_epoch_20.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_DSSCVGG16_num_epochs-100_epoch_40.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_DSSCVGG16_num_epochs-100_epoch_50.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_DSSCVGG16_num_epochs-100_epoch_60.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_VGG16_num_epochs-100_epoch_90.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_VGG16_num_epochs-100_epoch_100.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_VGG16_num_epochs-100_epoch_50.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_VGG16_num_epochs-100_epoch_70.pt filter=lfs diff=lfs merge=lfs -text
checkpoint/checkpoint_VGG16_num_epochs-100_epoch_80.pt filter=lfs diff=lfs merge=lfs -text
